2. Block XML NS XML SCHEMA/AufgabeXMLSchema6.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vorlesung">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titel" type="string"/>
            </xs:sequence>
            <xs:attribute name="beginn" default="21.09.2009"/>
        </xs:complexType>
    </xs:element>

</xs:schema>